@mixin progress() {

    /* ==========================================================================

       Progress



       Default Mendix progress widget.

    ========================================================================== */



    .mx-progress {

        color: $font-color-default;

        background: #fff;
        border-radius: 8px;



        .mx-progress-message {

            color: $font-color-default;

        }



        .mx-progress-indicator {
           
  width: 4.8px;
  height: 4.8px;
  display: block;
  margin: 20px auto;
  position: relative;
  border-radius: 4px;
  color: black;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;

            &:before,

            &:after {
content: '';  
  box-sizing: border-box;
  width: 4.8px;
  height: 4.8px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  animation: animloader 0.3s 0.45s linear infinite alternate;
            }



           



            &::after {
top: -15px;
    animation-delay: 0s;

            }

        }

    }

  @keyframes animloader {
    0% { width: 4.8px }
    100% { width: 48px}
}

}